<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test messages page</title>

    <style>
        .TestDiv {
        border: 4px outset black;
        text-align: center;
        }
    </style>
</head>
<body>
<h1>Hello</h1>
    <p> Hello, world and you Цыма. I am test app. </p>
<h2>Test Messages</h2>
    <p> Something is here: </p>
    {% if messages_list %}


        {% for hello_message in messages_list %}
        <div class="TestDiv">

            <ul>
                <li>{{ hello_message.id }}</li>
                <li>
                    <form action="{% url 'hw_test:hw_test_detail' hello_message.id %}"  method="GET">
                        {% csrf_token %}
                        <input type="submit" value="{{ hello_message.hello_title }}" />
                    </form>
                </li>
                <li>{{ hello_message.publishing_date }}</li>
            </ul>
            <p>Delete this:</p>
            <form action="{% url 'hw_test:hw_test_delete' hello_message.id %}"  method="POST">
                {% csrf_token %}
                <input type="submit" value="Confirm Deletion {{hello_message.id}}!" />
            </form>
        </div>

        {% endfor %}




    {% endif %}
<h3>
    Adding new message
</h3>

<form action="{% url 'hw_test:hw_test_recent' %}"  method="GET">
    {% csrf_token %}
    <input type="submit" value="Click here to view most recent!" />
</form>

<br>

<form action="{% url 'hw_test:hw_test_input' %}"  method="GET">
    {% csrf_token %}
    <input type="submit" value="Click here to add new message!" />
</form>

</body>
</html>