<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Hello page</title>
    <style>
        .TestDiv {
        border: 4px outset blue;
        text-align: center;
        }
    </style>
</head>
<body>


    <h1>Recent message {{ hello_message.id }}</h1>
    <div class="TestDiv">
     <p> Hello, Here is most recent hello test message: </p>

        <p>{{ hello_message.hello_title }}</p>

        {{ hello_message.hello_body }}




    </div>
    Was published:
    {{hello_message.publishing_date}}
    <br>
<form action="{% url 'hw_test:hw_test' %}"  method="GET">
    {% csrf_token %}
    <input type="submit" value="Back to main page" />
</form>


</body>
</html>